# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings
APP_PORT="3333"

DB_USER="admin"
DB_PASSWORD="admin"
DB_ROOT_PASSWORD="root"
DB_PORT="3306" # 3306 is the default port for MySQL
DB_NAME="products_db"


DATABASE_URL="mysql://${DB_USER}:${DB_PASSWORD}@localhost:${DB_PORT}/${DB_NAME}"

# Shadow database URL used for development environment
SHADOW_DATABASE_URL="mysql://${DB_USER}:${DB_PASSWORD}@localhost:${DB_PORT}/${SHADOW_DB_NAME}"


# Shadow database for development environment
# To be possible to run `yarn prisma migrate dev`
# You will need to access the database using docker and create the database with the name `products_db_shadow` running the following command:
# docker exec -it nestjs mariadb -u root -p
# type the password `root`

# Then you will need to grant all privileges to the user `admin` with the password `admin`
# docker exec -it nestjs mariadb -u root -p
# type the password `root`  

# Then you will need to grant all privileges to the user `admin` with the password `admin`
# GRANT ALL PRIVILEGES ON products_db_shadow.* TO 'admin'@'%' IDENTIFIED BY 'admin';
# FLUSH PRIVILEGES;


###### WE HIGHLY RECOMMEND YOU TO RUN `yarn prisma db push & yarn prisma generate` INSTEAD OF `yarn prisma migrate dev` ######
# Check the documentation for more information: https://www.prisma.io/docs/orm/prisma-migrate/workflows/development-and-production
SHADOW_DB_NAME="products_db_shadow" 
